@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headerContainer {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
}

.headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
}

.headerLinks {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 100px;
}

li {
    display: inline;
    padding: 0 10px;
}

.secHeaderContainer {
    background-color: #1F2937;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    padding: 50px 0;
}

.subSection1 {
    background-color: #1F2937;
    color: white;
    margin-left: 100px;
    width: 400px;
}

.subSection2 {
    background-color: grey;
    color: white;
    
    padding: 75px;
    text-align: center;
    margin-right: 100px;
}

.heroMainText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}

.heroSecText {
    font-size: 18px;
    color: #e5e7eb;
}